.article-summary-card {
    &:hover &__delete_btn {
        visibility: visible;
    }
    &__card_header {
        padding: 1rem;
        font-weight: bold;
        color: #4183c4;
        cursor: pointer;
    }
    &__delete_btn {
        visibility: hidden;
        position: absolute;
        right: 20px;
        top: 25px;
        z-index: 2;
        padding: 0px !important;
        box-shadow: none !important;
    }
}