.organization-setting {
  .ui.header {
    padding: 15px;
    border-bottom: 1px solid;
  }

  .invite-modal-header {
    background-color: #2185d0 !important;
    color: #fff !important;
  }

  .invite-name {
    font-size: 1.2em;
  }
}
