.logo-container {
    padding: 0;
    border: none;
    position: relative;   
    
}
.logo-container:hover .upload-container {
    visibility: visible;
}

.upload-container {
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.4);
    visibility: hidden;
}
.edit-logo-container {
    position: absolute;
    right: 10px;
    top: 10px;
}
.upload-container.visible {
    visibility: visible;
}